:javascript
  $(document).ready( function() {
    console.log("Tracker Form Page")

    $('#dp1').datepicker()

  } );

.row
  .col-sm-6
    = form_for @tracker do |f|
      - if @tracker.errors.any?
        #error_explanation
          %h2= "#{pluralize(@tracker.errors.count, "error")} prohibited this tracker from being saved:"
          %ul
            - @tracker.errors.full_messages.each do |message|
              %li= message

      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control", placeholder: "BTC vs S&P 500"
      .form-group
        = f.label :asset_one
        %br
        = f.select :asset_one, @valid_crypto_assets, {}, {"class" => "selectpicker", "data-live-search" => "true"}
      .form-group
        = f.label :asset_two
        %br
        = f.select :asset_two, @valid_stock_assets, {}, {"class" => "selectpicker", "data-live-search" => "true"}
      .form-group
        = f.label :start_date
        = f.text_field :start_date, {:size => "16", :type => "text", :value => "01/01/2019", :id => "dp1", :class => 'form-control', "data-date-format" => "dd/mm/yyyy"}

      = f.submit 'Save', class: "btn btn-primary"
