.row
  .col-sm-6
    = form_for @tracker do |f|
      - if @tracker.errors.any?
        #error_explanation
          %h2= "#{pluralize(@tracker.errors.count, "error")} prohibited this tracker from being saved:"
          %ul
            - @tracker.errors.full_messages.each do |message|
              %li= message

      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control", placeholder: "BTC vs S&P 500"
      .form-group
        = f.label :asset_one
        %br
        = f.select :asset_one, @valid_crypto_assets, {}, {"class" => "selectpicker", "data-live-search" => "true"}
      .form-group
        = f.label :asset_two
        %br
        = f.select :asset_two, @valid_stock_assets, {}, {"class" => "selectpicker", "data-live-search" => "true"}
      .form-group
        = f.label :start_date
        = f.date_select :start_date, default: Date.parse("2019-01-01"), class: "form-control"

      = f.submit 'Save', class: "btn btn-primary"

-# Doh, stupid alphavantage has a 5 call per minute limit
-# :javascript
  $(document).ready( function() {
    console.log("Loading Alphavantage Search")
    var alphavantage_url = "https://www.alphavantage.co/query?function=SYMBOL_SEARCH&apikey=demo"

    function alphaSearch(data) {
      console.log("running alphaSearch with: ", data);
    }

    $("#tracker_asset_two").keyup(function() {
      var search_string = $("#tracker_asset_two").val() 
      console.log("Searching for: ", search_string);

      $.get( "https://www.alphavantage.co/query?function=SYMBOL_SEARCH&apikey=gon.alphavantage_key&keywords=" + search_string, function( data ) {
        console.log(data)
        var first_result = data.bestMatches[0]["1. symbol"]
        console.log(first_result)
        $("#tracker_asset_two").val(first_result);
      });
    });
  } )

