%h1 Listing trackers

%table
  %thead
    %tr
      %th Name
      %th Asset one
      %th Asset two
      %th Start date
      %th
      %th
      %th

  %tbody
    - @trackers.each do |tracker|
      %tr
        %td= tracker.name
        %td= tracker.asset_one
        %td= tracker.asset_two
        %td= tracker.start_date
        %td= link_to 'Show', tracker
        %td= link_to 'Edit', edit_tracker_path(tracker)
        %td= link_to 'Destroy', tracker, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Tracker', new_tracker_path
